body{background-color: floralwhite;}
div.headframe{background-color: lightskyblue;border-radius: 25px;padding: 10px;}
h1.title{font-family: cursive;color: darkslateblue;background-color: lightskyblue;border-radius: 10px;text-align: center;}
span.paragraft{font-size: 50px;font-family: cursive;color: darkslateblue;}
span.redparagraft{font-size: 50px;font-family: cursive;color: royalblue;}
